
.right {
    position: absolute;
    right: 0px;
    width: 400px;
    
    
    
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    
}
.border {
    list-style: none;
    margin-left: 15px;
    margin-bottom: 10px;
    padding-top:5px;
    padding-left:15px;
    padding-bottom: 5px;
    padding-right: 15px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
}
.bannerAngular{
        display: block;
    max-width:230px;
    max-height:95px;
    background-image: url("images/Angular.png");
}

