<div class="center">
                <div class="control-group">
                <div class="control-label">
                    <label>Name</label>
                </div>
                <div class="controls">
                     <input type="text" data-ng-required="true" data-ng-model="createAccount.name"/>
                </div>
            </div>
                <div class="control-group">
                <div class="control-label">
                    <label> Last name</label>
                </div>
                <div class="controls">
                    <input type="text" data-ng-required="true" data-ng-model="createAccount.lastname"/>
                </div>
            </div>
                <div class="control-group">
                <div class="control-label">
                    <label>Email</label>
                </div>
                <div class="controls">
                   <input type="text" data-ng-required="true" data-ng-model="createAccount.email"/>
                </div>
            </div>
                <div class="control-group">
                <div class="control-label">
                    <label>Password</label>
                </div>
                <div class="controls">
                    <input type="password" data-ng-required="true" data-ng-model="createAccount.password"/>
                </div>
            </div>
       <div class="control-group">
                <div class="control-label">
                    <label>Zip code</label>
                </div>
                <div class="controls">
                    <input type="number" data-ng-required="true" data-ng-model="createAccount.zipcode"/>
                </div>
            </div>

       <div class="control-group">
                <div class="control-label">
                    <label>Home number</label>
                </div>
                <div class="controls">
                   <input type="number" data-ng-required="true" data-ng-model="createAccount.homeNumber"/>
                </div>
            </div>

       <div class="control-group">
                <div class="control-label">
                    <label>Street</label>
                </div>
                <div class="controls">
                    <input type="text" data-ng-required="true" data-ng-model="createAccount.street"/>
                </div>
            </div>

       <div class="control-group">
                <div class="control-label">
                    <label>Municipality</label>
                </div>
                <div class="controls">
                    <input type="text" data-ng-required="true" data-ng-model="createAccount.municipality"/>
                </div>
            </div>

    </br>
    <button class="btn btn-primary" data-ng-click="createaccount()">create account</button>
    <button class="btn btn-primary" data-ng-click="redirectHome()">cancel</button>
</div>
